%iframe{:name => "countdown",
        :id => "mgframe",
        :style => "width: 250px",
        :src => "http://www.eventbrite.com/countdown-widget?eid=604712712",
        :width => "250",
        :height => "343",
        :marginheight => "0",
        :marginwidth => "0",
        :scrolling => "no",
        :frameborder => "0"}