#talk_form { font-size: 1.5em; }

#talk_form input.field  {
	background-color:#FCFCFC;
	border-color:-moz-use-text-color -moz-use-text-color black;
	border-style:none none solid;
	border-width:0 0 2px;
	font-size:1.5em;
	padding:5px;
	width:300px;
}

#talk_form input.error  {
	background-color:#FBE3E4;
}

#talk_form label.error  {
	background-color:transparent;
	border: none;
}