body {
  font-size: 1em;
}

a {
  color: #8A1F11;

}

.MAIN {
  border-right: solid 1px #FCFCFC;
  border-left: solid 1px #FCFCFC;
}

.content_name {
  font-weight: bold;
}

.content_value {
  margin-bottom: 18px;
  padding-left: 9px;
  font-size: 1.25em;
}

#menu {
  background-color: #FCFCFC;
}

#menu.item {
  text-align: center;
}

#menu.home {
  font-weight: bolder;
}

.logon_bar {
  font-size: .75em;
  text-align: right;
  width: 100%;
  vertical-align: top;
}