.logon_bar
- if signed_in?
  %span{:style=> "font-size: .80em;"}
    = "Welcome back, #{current_user.email}"
    = link_to "sign out", "/sign_out"
- if admin?
  You're currently signed in as an <span style="font-weight: bold;">administrator</span>.
- if !signed_in?
  = link_to "login", "/sign_in"