#menu.bar.container.span-24.last
  #menu.item.span-6
    %a{:href=>"/home/directions"} directions
  #menu.item.span-6
    %a{:href=>"/submissions/new"} speaker proposal 
  #menu.item.span-6
    %a{:href=>"/volunteers/new"} volunteer
  #menu.item.home.span-5
    %a{:href=>"/"} HOME
  