#menu.bar.container.span-24.last
  #menu.item.span-6
    %a{:href=>"/directions"} directions
  #menu.item.span-6
    %a{:href=>"/speakers/new"} speakers
  #menu.item.span-6
    %a{:href=>"/volunteers/new"} volunteer
  #menu.item.home.span-6.last
    %a{:href=>"/"} HOME
  
