#menu.bar.container.span-24.last
  #menu.item.span-5
    %a{:href=>"/info"} info
  #menu.item.span-5
    %a{:href=>"/directions"} directions
  #menu.item.span-5
    %a{:href=>"/submissions/new"} speakers 
  #menu.item.span-5
    %a{:href=>"/volunteers/new"} volunteer
  #menu.item.home.span-4.last
    %a{:href=>"/"} HOME
  
