%P
  %A{:href => "http://www.iit.edu/about/campus_map.shtml", :target => "_blank"} Main Campus Map
%P
  %A{:href => "https://docs.google.com/viewer?url=http%3A%2F%2Fwww.iit.edu%2Fabout%2Fpdfs%2Fmain_campus_bw.pdf", :target => "_blank"}
    Main Campus Map - (pdf)
%P
  %A{:href => "http://www.iit.edu/~parking/", :target => "_blank"} Main Campus Parking
%P
%P
  %A{:href => "http://www.iit.edu/about/campuses.shtml", :target => "_blank"} Other Campus Maps
%H2 Directions
%H3 Airports
%P
  IIT and Chicago are served by O'Hare International Airport, Midway Airport, and Meigs
  Field. Public transportation is available from O'Hare and Midway airports, and limousine
  or taxi will take you from all airports to IIT's campus. Check out the City of Chicago's
  Airport System Home Page for more information.
%H3 Train
%P
  Amtrak to Union Station, then public transportation, taxi or IIT shuttle bus from the Downtown
  Campus at 565 West Adams Street to Main Campus.
%H3 Bus
%P
  To Greyhound or Continental Trailways terminal, then taxi or public transportation to IIT.
%H3 Rapid Transit
%UL
  %LI CTA Red Line (Howard-95th/Dan Ryan) to Sox-35th station
  %LI CTA Green Line (Ashland-63rd or 63rd-Cottage Grove) to 35th-Bronzeville-IIT station
  %LI CTA Bus lines with stops on Main Campus (#29-State, #35-35th, #24-Wentworth, #4-Cottage Grove)
%P
  Check out the CTA's home page for schedules and bus routes.
%H3 Automobile
%H4 From the North:
%P
  Dan Ryan Expressway east to 31st Street exit, continue south to 33rd Street, turn
  left (east). Metered parking is located along Federal Street north and south of 33rd
  Street, and in the Visitor's Parking Lot (Lot A4) at 32nd Street and State Street.
%H4 From the South:
%P
  Dan Ryan Expressway west to 35th Street exit, continue north to 33rd Street, turn right (east).
  Metered parking is located along Federal Street north and south of 33rd Street, and in the
  Visitor's Parking Lot (Lot A4) located at 32nd Street and State Street, on the east side of
  State Street.
%H4 From Lake Shore Drive:
%P
  Exit at 31st Street, go inland (west) to State Street, turn left (south). Metered parking is
  available in the Visitor's Parking Lot (Lot A4) located at 32nd Street and State Street, on
  the east side of State Street.
%H4 Parking
%P
  Metered parking is available to all visitors, and is located along Federal Street north and
  south of 33rd Street, and in the Visitor's Parking Lot (Lot A4) located at 32nd Street and
  State Street, on the east side of State Street. Special event parking may be available in
  other parking lots on campus. Please contact the Access, Card, and Parking Services Office
  for more details on parking, or visit the parking web page for current parking locations at
  %A{:href => "http://www.iit.edu/~parking", :target => "_blank"} www.iit.edu/~parking
  \. Please call the parking
  administrator at 312.567.8968 if you need assistance in finding parking.
%P
