- content_for :head do
  = stylesheet_link_tag 'submission.css', :media => 'screen, projection'

%hr.space
.span-15.colborder
  %h2
    Submissions are closed!
  %p.light
    Thank you to everyone who submitted talks. We're reviewing the submissions right now and will be sending out updates on your proposals. From the wide variety of topics it already looks like this is going to be the event of the year!
