div.table {
	display: table;
}

div.caption {
	display: table-caption;
}

div.col {
	display: table-column;
}

div.thead,
div.tbody,
div.tfoot {
	display: table-row-group;
}

div.tr {
	display: table-row;
}

div.th {
	display: table-cell;
	font-weight: bold;
	text-align: center;
}

div.td {
	display: table-cell;
}