#navigation.container.span-24.last{:style => "text-align: center; background-color: #CFB9A8; padding-top: 1px; padding-bottom: 1px;"}
  .prepend-5.span-2.colborder{:style => "text-align: center;"} Home
  .span-2.colborder{:style => "text-align: center;"} Sessions
  .span-2.colborder{:style => "text-align: center;"} Speakers
  