%form{:method => "POST", :action => "/speaker/update/#{@speaker.handle}"}
  %input{:type => "text", :id => "full_name", :value => @speaker.full_name}
  %textarea{:id => "biograpy"}= @speaker.biography
  %input{:type => "submit"}
